{# empty Twig template #}
{% extends "MerQuryPlateformBundle::layout.html.twig" %}
{% block title %}
  Modifier une annonce - {{ parent() }}
{% endblock %}
{% block merqury_plateform_body %}
  <h2>Ajouter une annonce</h2>
  {{ include("MerQuryPlateformBundle:Advert:form.html.twig") }}
  <p>
    
  </p>
  <p>
    <a href="{{ path('mer_qury_plateform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
  </p>
{% endblock %}