{# empty Twig template #}
{% extends "::layout.html.twig" %}
{% block title %}
  Annonces - {{ parent() }}
{% endblock %}
{% block body %}
  <h1>Annonces</h1>
  <hr>
  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block merqury_plateform_body %}
  {% endblock %}
{% endblock %}